<h1><%= @space.location %></h1>

<a href="tel:<%= @space.phone_number %>">call</a>
<a href="mailto:<%= @space.email %>?subject=I would like to see the area!&body=Are you available on 2022-06-06">book a viewing</a>

<a href="/">back to all spaces</a>